References/Ch27/XmlSchemaInference/XmlSchemaInference/CustomersSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="DelSole.Customers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Customers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Customer">
          <xs:complexType>
            <xs:attribute name="CustomerID" type="xs:string" use="required" />
            <xs:attribute name="CompanyName" type="xs:string" use="required" />
            <xs:attribute name="Country" type="xs:string" use="required" />
            <xs:attribute name="Address" type="xs:string" use="required" />
            <xs:attribute name="Email" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>